.video-gallery-card {
    width: 100%;
    max-width: 85rem; 
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 25px;
    border: 5px solid transparent; 
    background-clip: padding-box;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2); 
    background: linear-gradient(135deg, #e0e0e0, #f7f7f7);
    margin: 0 auto; 
    display: flex;
    justify-content: center;
  }
  
  /* Main container for videos and info */
  .video-gallery {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
    margin: 0 auto;
  }
  
  /* Container for each video and its corresponding info */
  .video-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  
  /* Video column for the iframe */
  .video-column {
    width: 50%;
  }
  
  /* Info column for title and description */
  .info-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .video-frame {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .video-info h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .video-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #555;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .video-info-container {
      flex-direction: column;
    }
  
    .video-column,
    .info-column {
      width: 100%;
    }
  
    .video-frame {
      height: 250px; 
    }
  }
  
  
  .center-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  
  .orange-button {
    background-color: orange;
    border-color: orange;
    color: white; /* Ensure the text is visible */
  }
  
  